body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.user-form {
  background-color: lightblue;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-form input {
  background: none;
  border: none;
  border-bottom: solid black 2px;
  margin-top: 0.5em;
}

.user-form input[type="submit"] {
  background-color: white;
  border: solid grey 2px;
  border-radius: 1em;
  /* border-bottom: solid black 2px; */
  margin-top: 1em;
}

.user-details {
  background: lightblue;
  margin: 1em;
  border-radius: 1em;
  padding: 0.5em;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
